/* RESET */

*/ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    font-family: 'Fredoka', sans-serif;
}

.pink-test {
    color: #E43271;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* MAIN */

h1, .lorem {
    text-align: center;
    margin-bottom: 50px;
}

img {
    width: 80px;
    float: left;
}

.name, .works, .email {
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -5px;
}

[class$="email"]{
    color: rgb(11, 215, 238);
}


/* LAYOUT */

.columns > *{
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    
}

.single-column-photo {
    background-color: #0F0E17;
}

.label {
    background-color: #0F0E17;
    float: right;
    font-size: small;
    width: calc(100% - 80px);
    height: 80px;
}
